.main-header {
  background: url(/img/headerimg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  color: #000;
  position: relative;
}
.primary-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Showcase */
.main-header .showcase {
  padding-top: 110px;
}
.scroll-icon {
  position: absolute;
  bottom: 5%;
  left: 47%;
  opacity: 0.5;
}
/* Section Boxes */
.box {
  padding: 40px 10px !important;
}
.box h4 {
  padding-bottom: 30px;
}
.section-boxes .row {
  margin-bottom: 0 !important;
}

/* Media queries */
@media (max-width: 550px) {
  .showcase h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
  .main-header {
    height: 90vh;
  }
}
.section-ticket {
  position: relative;
}
#ticketimg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.section-ticket .card-panel {
  position: relative;
  z-index: 1;
}
